*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html, body{
    height: 100%;
    width: 100%;
}
/* Boiler plate */



#parent{
    height: 100%;
    width: 100%;
    background-color: lightblue;
    display: flex;
    align-items:center;
    justify-content: space-evenly;
}
#child1{
    height: 10%;
    width: 10%;
    background-color: lightseagreen;
}
#child2{
    height: 10%;
    width: 10%;
    background-color: lightsalmon;
}
#child3{
    height: 10%;
    width: 10%;
    background-color: lavender;
}



#box{
    height: 20%;
    width: 20%;
    background-color: red;
    margin: 50px;
    padding: 100px;

    position: absolute;
    top: 150%;
    left: 50%;
    transform: translate(-50%,-50%);
}



h1{
    color: rgb(75, 214, 224);
    background-color: black;
    font-size: 200px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 500;    
}
